body {
background-color: #e6ffff;
color: #000000;
font-family: "zapfino"; 
}

h1 {
font-size: 3em;
text-align: center;
}
h3 {
font-size: 3em;
}
p1 {
font-size: 2em;
font-family: "Lucida Handwriting";
}
p2 {
font-size: 2em;
font-family: "Lucida Handwriting";
}
p3 {
font-size: .95em;
font-family: "Lucida Handwriting";
}
img {
height: 280px;
width: 100%;
}

#smallfooter {
font-size: .5em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: cadetblue;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #4ddbff}

.show {display:block;}